/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */


/*NAVIGATION*/
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a.btn-st1 {
    background: #FF9800;
    padding: 10px;
    color: #fff;
    text-decoration: underline;
    margin-left: 20px;
}
input.checkbox {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
span.checked {
    position: relative;
}
span.checked:after {
    content: "\f14a";
    color: #2196F3;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    position: absolute;
    left: -1px;
    top: -1px;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 30px);
    z-index: 9;
    background: #fff !important;
    max-width: 500px;
    flex-flow: wrap;
    border-radius: 3px;
    border-top: none;
    border-bottom: 5px solid #607d8b;
}
.navbar.sticky .btn {
    background: #607D8B;
    border: none;
    padding: 20px;
    position:relative;
}
.navbar.sticky .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 1)
}
.navbar.sticky .btn.categories {
    background: #fd7e14;
}
.navbar.sticky .btn.add-to-cart {
    padding: 26px;
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
    margin: 0 auto !important;
    display: block;
    width: 150px;
    background: #00BCD4;
}
.navbar.sticky .btn .badge {
    position: absolute;
    background: #FF9800;
    border-radius: 100%;
    top: 60%;
    padding: 5px 8px;
    right: 8px;
}
.navbar.sticky form .btn {
    padding: 10px;
    width: 100%;
}

.navbar.sticky .btn .fa {
    font-size: 35px;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.top-bar {
    width: 100%;
    padding: 5px 0;
}
.top-bar > * {
    float: left;
}
.top-bar > .account {
    float: right;
}

.product-content {
    top: 175px;
    position: relative;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.header_cart {
    height: calc(100vh - 105px);
    /* background: #b7b6b6; */
    padding-top: 10px;
    margin-top: -3px;
    z-index: 999 !important;
    position: relative;
}
.header_cart ul {
    height: calc(100% - 200px);
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    margin-bottom: 0;
}
.header_cart ul li.woocommerce-mini-cart-item.mini_cart_item {
    position: relative;
}
.header_cart ul li.woocommerce-mini-cart-item.mini_cart_item .data {
    position: absolute;
    top: 40%;     
}
.header_cart ul li a.remove {
    font-size: 38px;
    margin-left: 10px;
}
.header_cart ul li img {
    width: 130px;
    height: auto;
}
.header_cart p.woocommerce-mini-cart__total.total {
    text-align: center;
    padding: 20px 10px 10px;
    color: #222;
    font-size: 24px;
}
.header_cart .woocommerce-mini-cart__buttons.buttons {
    margin-top: -10px;
}
.header_cart .woocommerce-mini-cart__buttons.buttons .button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 3px;
    border-radius: 5px;
}
.header_cart .woocommerce-mini-cart__buttons.buttons .button.checkout {
    background: #009688;
    border-color: #009688;
    color: #fff;
}

.header_cart.checkout {
    height: auto;
    z-index: 1 !important;
}
.header_cart.checkout ul {
    overflow-y: hidden;
    height: auto !important;
}
.header_cart.checkout p.woocommerce-mini-cart__total.total {
    text-align: right;
    font-size: 18px;
}
.header_cart.checkout p.woocommerce-mini-cart__total.total .title {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
.header_cart.checkout .payment-options {
    padding: 20px 10px;
}
.header_cart.checkout .payment-options .title {
    font-size: 20px;
}
.header_cart.checkout .payment-options li {
    margin-bottom: 10px;
    padding-top: 3px;
    padding-left: 3px;
}
.container.loading {
}
.container.loading:after {
    content: "LOADING...";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 9;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 100vh;
    background: #ffffffd1;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(138, 138, 138, 0.46);
    top: 0;
    left: 0;
    z-index: 999;
}
.popup .box {
    width: 90%;
    background: #fffcdf;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #cccccc;
}
.popup.loading .box:after {
    content: "LOADING...";
    display: block;
    padding: 10px;
    border-left: 10px;
    text-align: center;
    font-size: 20px;
    color: #222;
}
span.response {
    display: block;
    padding: 10px;
    margin-bottom: 1px;
    background: #f1f1f1;
    border-left: 5px solid #2196F3;
    color: #222;
}
span.response.error {
    border-left: 5px solid #F44336;
    color: #F44336;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #6c757d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .categories {
    position: fixed;
    width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6c757d;
}

#sidebar ul.components {
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #696969;
}
#sidebar ul > li > ul li a:active,
#sidebar ul > li > ul li a:focus {
    background: #fd7e14;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #696969;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #696969;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*
 * END NAVIGATION*/


.notification.notification-visible {
    font-size: 1.1rem !important;
    height: auto !important;
    padding: 15px 10px !important;
    border-top-width: 3px !important;
}
/*
 * TABLE VARIATIONS
 */
.table.variations td {
    border: 1px solid #a8a8a8;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}
.table.variations td .quantity .input-text {
    padding: 15px;
    width: 100%;
    border: 1px solid #bfbfbf;
}
.table.variations .quantity {
    position: relative;
}
.table.variations .quantity .fa {
    padding: 6px 10;
    margin-right: 1px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #bdb4b4;
    color: #808080;
}
.table.variations .quantity .fa.decrement {
    top: 28px;
}
.table.variations .price {
    display: block;
    width: 100%;
    font-size: 13px;
    margin-top: 8px;
    color: #F44336;
}
.table.variations .subtotal {
    color: #00BCD4;
}
/*
 * END TABLE VARIATIONS */
@media (max-width: 992px) {
  .container {  }
}
@media (max-width: 520px) {
  .container { min-width: 100%  }
}
