/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 2rem 0;
}

.screenfix .h-100 {
    max-height: 40rem;
}

.logo img {
    width: 25rem;
    max-width: 100%;
}

ul.links {
    list-style: none;
    padding: 0;
    width: 25rem;
    max-width: 100%;
}
ul.links:after {
    content: " ";
    clear: both;
    display: block;
}
ul.links > li {
    float: left;
    width: 4rem;
    margin: 5px 0;
}
ul.links > li > a {
    width: 50px;
    height: 50px;
    margin:auto !important;
    display: block;
    overflow: hidden;
    background-position: 0px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
ul.links > li > a.icon1 {
    background: url(../images/icons/icon1-off.jpg);
}
ul.links > li > a.icon1:hover {
    background: url(../images/icons/icon1-rollover.jpg);
}
ul.links > li > a.icon2 {
    background: url(../images/icons/icon2-off.jpg);
}
ul.links > li > a.icon2:hover {
    background: url(../images/icons/icon2-rollover.jpg);
}
ul.links > li > a.icon3 {
    background: url(../images/icons/icon3-off.jpg);
}
ul.links > li > a.icon3:hover {
    background: url(../images/icons/icon3-rollover.jpg);
}
ul.links > li > a.icon4 {
    background: url(../images/icons/icon4-off.jpg);
}
ul.links > li > a.icon4:hover {
    background: url(../images/icons/icon4-rollover.jpg);
}
ul.links > li > a.icon5 {
    background: url(../images/icons/icon5-off.jpg);
}
ul.links > li > a.icon5:hover {
    background: url(../images/icons/icon5-rollover.jpg);
}
ul.links > li > a.icon6 {
    background: url(../images/icons/icon6-off.jpg);
}
ul.links > li > a.icon6:hover {
    background: url(../images/icons/icon6-rollover.jpg);
}


@media (max-width: 768px) {
    .logo{ text-align: center  }
    .logo img {
        width: 15rem;
    }
    ul.links {
        margin:2rem auto;
    }
    .address { text-align: center; margin-top:30px !important }
}
